<style>
    #host span {
      color: red;
    }
    x-tabs::shadow x-panel::shadow h2 {
        color: red;
    }
    body /deep/ .library-theme {
        color: rgb(0, 255, 0);
    }
  </style>
  
  <div id="host">
    <span>Light DOMww</span>
  </div>
  
  <script>
    var host = document.querySelector('div');
    var root = host.createShadowRoot();
    root.innerHTML = "<span>Shadow DOMss</span>" +
                     "<content></content>";
  </script>