<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/v-logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css" type="text/css" >

  <link rel="shortcut icon" href="/v-logo.png" type="image/x-icon">


  <link rel="stylesheet" href="/components-v2.css" type="text/css" >
  <link rel="stylesheet" href="/tailwind-output.css" type="text/css" >
  
  <title>Welcome</title>
</head>
