
<script src="/dropdown.js"></script>
<script src="/product_form.js"></script>
<script src="/login.js"></script>

<script src="/element-detail.js"></script>
<script src="/report-card.js"></script>
<script src="/my-component.js"></script>

<script src="/wc-helloword.js"></script>

<script type="module" src="/wc-table-fetch.js"></script>

<script type="module" src="/xy-button.js"></script>
<script type="module" src="/xy-checkbox.js"></script>
<script type="module" src="/xy-color-picker.js"></script>
<script type="module" src="/xy-datalist.js"></script>
<script type="module" src="/xy-date-picker.js"></script>
<script type="module" src="/xy-dialog.js"></script>
<script type="module" src="/xy-form.js"></script>
<script type="module" src="/xy-icon.js"></script>
<script type="module" src="/xy-img.js"></script>
<script type="module" src="/xy-input.js"></script>
<script type="module" src="/xy-layout.js"></script>
<script type="module" src="/xy-loading.js"></script>
<script type="module" src="/xy-message.js"></script>
<script type="module" src="/xy-option.js"></script>
<script type="module" src="/xy-pagination.js"></script>
<script type="module" src="/xy-popover.js"></script>
<script type="module" src="/xy-radio.js"></script>
<script type="module" src="/xy-rate.js"></script>
<script type="module" src="/xy-select.js"></script>
<script type="module" src="/xy-slider.js"></script>
<script type="module" src="/xy-switch.js"></script>
<script type="module" src="/xy-tab.js"></script>
<script type="module" src="/xy-table.js"></script>
<script type="module" src="/xy-text.js"></script>
<script type="module" src="/xy-tips.js"></script>
<script type="module" src="/xy-view.js"></script>