<div class="flex-none w-56 flex flex-row items-center">
  <img src="/img/logo.png" class="w-10 flex-none">
  <strong class="capitalize ml-1 flex-1">cleopatra</strong>

  <button id="sliderBtn" class="flex-none text-right text-gray-900 hidden md:block">
    <i class="fad fa-list-ul"></i>
  </button>
</div>
