
<script src="/static/js/dropdown.js"></script>
<script src="/static/js/product_form.js"></script>
<script src="/static/js/login.js"></script>




<script src="/component/js/element-detail.js"></script>
<script src="/component/js/report-card.js"></script>
<script src="/component/js/my-component.js"></script>


